<script
  src="{{ 'product-recommendations.js' | asset_url }}"
  type="module"
  fetchpriority="low"
></script>

{% liquid
  case section.settings.layout_type
    when 'grid'
      assign classes = 'resource-list--grid'
    when 'carousel'
      assign classes = 'resource-list__carousel'
  endcase

  capture styles
    echo '--column-count-mobile: ' | append: section.settings.mobile_columns | append: ';'
    echo '--resource-list-column-gap-desktop: ' | append: section.settings.columns_gap | append: 'px;'
    echo '--resource-list-row-gap-desktop: ' | append: section.settings.rows_gap | append: 'px;'
    echo '--resource-list-columns: repeat(' | append: section.settings.columns | append: ', 1fr);'
    echo '--resource-list-columns-mobile: repeat(' | append: section.settings.mobile_columns | append: ', 1fr);'
    echo '--column-count: ' | append: section.settings.columns | append: ';'
  endcapture
%}

{% comment %}
  --- CUSTOM RELATED PRODUCTS BY METAFIELD LOGIC ---
  All products with the same metafield `custom.collection` value
  will be related to each other.
{% endcomment %}

{% assign metafield_value = product.metafields.custom.collection.value %}

{% if metafield_value %}
  {%- comment -%}
    Replace Shopify’s default recommendation logic with metafield-based one
  {%- endcomment -%}
  {% assign products = collections.all.products 
    | where: "metafields.custom.collection.value", metafield_value 
    | reject: "id", product.id %}
{% else %}
  {% assign products = '' %}
{% endif %}

<product-recommendations
  id="product-recommendations-{{ section.id }}"
  class="product-recommendations"
  data-section-id="{{ section.id }}"
  data-testid="product-recommendations-section"
  {{ section.shopify_attributes }}
>
  <div class="section-background color-{{ section.settings.color_scheme }}"></div>
  <div
    class="
      section
      section--{{ section.settings.section_width }}
      color-{{ section.settings.color_scheme }}
      section-resource-list
      spacing-style
      gap-style
    "
    style="
      {%  render 'spacing-style', settings: section.settings %}
      {%  render 'gap-style', value: section.settings.gap %}
      {{ styles }}
    "
  >
    <div class="section-resource-list__content">
      {% content_for 'blocks' %}
    </div>

    {% capture list_items %}
      {% for related_product in products limit: section.settings.max_products %}
        <div class="resource-list__item">
          {% content_for 'block', type: '_product-card', id: 'static-product-card', closest.product: related_product %}
        </div>
        {% unless forloop.last %}
          <!--@list/split-->
        {% endunless %}
      {% endfor %}
    {% endcapture %}

    {% liquid
      assign slide_content = list_items | strip
      assign slides = slide_content | split: '<!--@list/split-->'
      if products != blank and products.size > 0
        assign has_recommendations = 'true'
      else
        assign has_recommendations = 'false'
      endif
    %}

    <div
      class="
        resource-list
        {% if section.settings.layout_type == 'carousel' %}
          force-full-width
        {% endif %}
        {% if section.settings.carousel_on_mobile and section.settings.layout_type != 'carousel' %}
          hidden--mobile
        {% endif %}
        {{ classes }}
      "
      data-has-recommendations="{{ has_recommendations }}"
    >
      {% case section.settings.layout_type %}
        {% when 'grid' %}
          {{ list_items }}
        {% when 'carousel' %}
          {% render 'resource-list-carousel',
            ref: 'resourceListCarousel',
            slides: slides,
            slide_count: products.size,
            settings: section.settings
          %}
      {% endcase %}
    </div>

    {% if section.settings.carousel_on_mobile and section.settings.layout_type != 'carousel' %}
      <div
        class="resource-list hidden--desktop force-full-width"
        style="--resource-list-gap: {{ section.settings.columns_gap }}px;"
      >
        {% render 'resource-list-carousel',
          ref: 'resourceListCarouselMobile',
          slides: slides,
          slide_count: products.size,
          settings: section.settings
        %}
      </div>
    {% endif %}
  </div>
</product-recommendations>
