{% comment %}
  Related products by metafield value (custom.collection)
{% endcomment %}

{% assign metafield_value = product.metafields.custom.collection.value %}

{% if metafield_value %}
  {% assign related_products = collections.all.products | where: "metafields.custom.collection.value", metafield_value | where: "id", "!=" , product.id %}
{% endif %}

{% if related_products and related_products.size > 0 %}
  <div class="related-products">
    <h2>Related {{ metafield_value }}s</h2>
    <div class="grid grid--2-col md:grid--4-col">
      {% for related_product in related_products limit: 4 %}
        <div class="grid__item">
          <a href="{{ related_product.url }}">
            <img src="{{ related_product.featured_image | img_url: 'medium' }}" alt="{{ related_product.title }}">
            <p>{{ related_product.title }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
